@charset "utf-8";

.edit-list {
  margin: 80px auto;
  width: 90%;
  max-width: 600px;
}

.edit-list-form {
  color: #555555;

  input {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 16px;
  }

  button {
    padding: 8px 16px;
    margin-right: 8px;
    font-size: 16px;
  }
}

.edit-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.delete-list-button {
  color: #ff3333;
  border: solid 1px #ff3333;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-list-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: #ff3333;
}

@media (max-width: 768px) {
  .edit-list {
    width: 80%;
  }
}

@media (max-width: 320px) {
  .edit-list {
    width: 80%;
  }
}
