@charset "utf-8";

.edit-task {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}

.edit-task-form {
  color: #555555;
}

.edit-task-title,
.edit-task-detail {
  width: 100%;
  margin-bottom: 25px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.new-task-limit {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

.delete-task-button {
  color: white;
  border: solid 1px #ff3333;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
  background-color: #ff0000;
  padding: 10px 20px;
}

.edit-task-button {
  background-color: #242f9b;
  color: #ffffff;
  border: none;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: #ff3333;
}
