@charset "utf-8";

.new-task {
  width: 70%;
  margin: 0 auto;
  text-align: center;

  h2 {
    padding: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    select {
      width: 100%;
      padding: 1rem;
      margin-bottom: 1rem;
    }

    input {
      width: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }

    text-area {
      width: 100%;
      padding: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.new-task-form {
  color: #555555;
}

.new-task-select-list,
.new-task-title,
.new-task-detail {
  width: 100%;
  margin-bottom: 1rem;
}

.new-task-detail {
  height: 200px;
}

.new-task-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: #ff3333;
}
